.viewGameContainer {
  .boxContainer {
    font-family: "Nunito Sans", sans-serif !important;
    padding: 20px;

    border-top: 2px solid #f72586;
    border-radius: 8px;
    background: #ffeef6;
  }
}
